ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

a {
    text-decoration-line: none;
    color:rgb(240, 85, 13);
}
.container {
max-width: 600px ;
color:black;
}

.weather-app {
     margin: 30px ;
}
.weather-forecast {
    text-align: center;
    font-size: 16px ;
    padding: 0 ;
    max-width: 600px ;
}
.forecast-min-temp{
    opacity: 0.6;
}

.btn-primary {
    background-color: rgb(240, 85, 13);
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
}
.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(240, 85, 13);
    border-color: rgba(0, 0, 0, 0.6);
}
.form-control {
    border-color: rgba(0, 0, 0, 0.6);
}

.active {
    text-decoration-line: none;
    color: black;
}
.my-source {
      padding-left: 60 px;
    }
#city {
    font-size: 36px ;
    font-weight: bolder;
}

#date #description {
    font-size: 24px ;
}
#search-form {
    margin: 0 auto;
}
#description{
    text-transform: capitalize;
}